airflowVersion: "3.1.4"

defaultAirflowTag: "3.1.4"

executor: "KubernetesExecutor"

postgresql:
  enabled: true
  image:
    repository: postgres
    tag: "15.15"

pgbouncer:
  enabled: true

dags:
  gitSync:
    enabled: true
    repo: https://github.com/tsai00/dags-test.git
    branch: main
    rev: HEAD
    depth: 1
    maxFailures: 0
    subPath: "dags"

triggerer:
  logGroomerSidecar:
    enabled: false

scheduler:
  logGroomerSidecar:
    enabled: false

workers:
  logGroomerSidecar:
    enabled: false

createUserJob:
  useHelmHooks: false
  applyCustomEnv: false

migrateDatabaseJob:
  jobAnnotations:
    "argocd.argoproj.io/hook": Sync
  useHelmHooks: false
  applyCustomEnv: false

webserver:
  enabled: false

config:
  api:
    base_url: http://airflow.datainfrapilot.com
    
ingress:
 apiServer:
   enabled: true
   ingressClassName: traefik-ingress
   pathType: Prefix
   hosts:
     - name: airflow.datainfrapilot.com
       tls:
         enabled: false
   annotations:
     traefik.ingress.kubernetes.io/router.entrypoints: 'web'
     traefik.ingress.kubernetes.io/router.priority: '10'


extraEnv:
  - name: AIRFLOW__CORE__LOAD_EXAMPLES
    value: false
