airflowVersion: "3.1.5"

defaultAirflowTag: "3.1.5"

executor: "KubernetesExecutor"

# ---- DB CONFIG ---- #
postgresql:
  enabled: false
  image:
    repository: postgres
    tag: "15.15"

data:
  metadataSecretName: airflow-db-creds

pgbouncer:
  enabled: false

# ------------------- #
dags:
  gitSync:
    enabled: true
    repo: https://github.com/tsai00/dags-test.git
    branch: main
    rev: HEAD
    depth: 1
    maxFailures: 0
    subPath: "dags"

triggerer:
  logGroomerSidecar:
    enabled: false

scheduler:
  logGroomerSidecar:
    enabled: false

workers:
  safeToEvict: false
  logGroomerSidecar:
    enabled: false

createUserJob:
  useHelmHooks: false
  applyCustomEnv: false

migrateDatabaseJob:
  jobAnnotations:
    "argocd.argoproj.io/hook": Sync
  useHelmHooks: false
  applyCustomEnv: false

webserver:
  enabled: false

ingress:
 apiServer:
   enabled: true
   ingressClassName: traefik-ingress
   pathType: Prefix
   hosts:
     - name: airflow.datainfrapilot.com
       tls:
         enabled: false
   annotations:
     traefik.ingress.kubernetes.io/router.entrypoints: 'web'
     traefik.ingress.kubernetes.io/router.priority: '10'

config:
  api:
    base_url: http://airflow.datainfrapilot.com

extraEnv: |
  - name: AIRFLOW__CORE__LOAD_EXAMPLES
    value: 'False'
  - name: AIRFLOW__API__SECRET_KEY
    value: airflow-api-key
  # - name: AIRFLOW__API_AUTH__JWT_SECRET
  #   value: airflow-jwt-key
